body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: lavenderblush;
}

.item-data {
  display: flex;
  position: relative;
  width: 30vw;
  height: 30vh;
  justify-content: center;
  overflow-x: hidden;
  padding: 10px;
}

.item-image {
  width: 30vw;
  object-fit: scale-down;
}

.item-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0;
  left: 100%;
  padding: 5px;
  width: 30vw;
  height: 30vh;
  position: absolute;
  background-color: inherit;
  transition: left .2s ease;
}

.item-body h2 {
  font-size: 26px;
  text-align: center;

}

.item-body p {
  font-size: 16px;
  text-align: center;
  overflow-y: scroll;
}

.item-data:hover>.item-body {
  left: 0;
}

.list-data {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80vw;
  padding: 10px 0px;
  flex-wrap: wrap;
}

.list-data>li {
  background-color: azure;
  border: ivory dashed;
  border-radius: 15px;
}

.list-data>li:nth-child(even) {
  background-color: ivory;
  border: azure dashed;
  border-radius: 15px;
}

.data-item__delete {
  position: relative;
  top: 10px;
  right: 20px;
  width: 27px;
  height: 27px;
  z-index: 2;
  opacity: 0;
  transition: opacity .2s;
}

.item-data:hover>.data-item__delete {
  opacity: 1;
}

.data-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.name-input {
  width: 400px;
  height: 30px;
}

.desc-input {
  width: 700px;
  height: 60px;
}

.submit-button {
  width: 80px;
  height: 35px;
}